@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_landing_page.cshtml";
}



<header class="header">
    <div class="overlay">   </div>
    <div class="container">
        <div class="description">
            <h1> Welcome to Vidly</h1>
            <p>feel free to rent some movies</p>
            <button class="btn btn-outline-secondary btn-lg">See more</button>
        </div>
    </div>



</header>

<div class="blog">
    <div class="container">
        <h1 class="text-center">Blog</h1>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card">
                    <div class="card-img">
                        <img src="~/img/surprises.jpg" class="img-fluid">
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">News from the movie world</h4>
                        <p class="card-text">

                           More and more movies are going to be created.
                            Check what's up in the movie world
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card">
                    <div class="card-img">
                        <img src="~/Img/cinema.jpg" class="img-fluid">
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Movies played in cinema</h4>
                        <p class="card-text">

                            Check out what kind of fantastic movies 
                            are waiting for you in cinemas.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card">
                    <div class="card-img">
                        <img src="~/Img/celebrities.jpg" class="img-fluid">
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">News from the world of famous people</h4>
                        <p class="card-text">
                            Curious ? Click and waste your time :)
                            
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





